@if (isAuthenticated$ | async) {
<mat-toolbar color="primary">
  <mat-icon class="toolbar-icon">menu_book</mat-icon>
  <span class="toolbar-title">Библиотека</span>
  <span class="spacer"></span>
<!--
  @if ((currentUser$ | async) as user) {
    <span class="user-info">
    <mat-icon>account_circle</mat-icon>
      {{ user.fullName || user.username }}
  </span>
  }
-->
  <button mat-icon-button (click)="logout()" matTooltip="Выйти">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
}

<router-outlet></router-outlet>
